Package: adax
Version: 0.0.1
Section: non-free/misc
Priority: optional
Architecture: armhf
Maintainer: Markus Haldorsen <markus@futurehome.no>
Description: Control and monitor Adax Wifi from futurehome.
